<div class="jumbotron">
  <h1>Welcome to PartialArts</h1>
</div>

<%= artist_url %><br>
<%= link_to('belts', 'Artist by Belt Color') %><br>

<a href="/categories">Artists by Category</a> <br>

<div class="belt-statistics">
  <h3>Belt Stats</h3>
  <% @belt_statistics.each do |belt, count| %>
    <p>
      <%= format_title(belt.color) %> belt: <%= count %> artists
    </p>
  <% end %>
</div>

<div class="category-statistics">
  <h3>Category Stats</h3>
  <% @category_statistics.each do |category, count| %>
    <p>
      <a href="http://wikipedia.org/wiki/<%= category.name %>"><%= category.name %></a>: <%= count %> artists
    </p>
  <% end %>
</div>

<div class="hometown-statistics">
  <h3>Hometown Stats</h3>
  <% @location_statistics.each do |location, count| %>
    <p>
      <a href="http://wikipedia.org/wiki/<%= location %>"><%= location %></a>: <%= count %> artists
    </p>
  <% end %>
</div>
